.add-trip {
    padding: 5px;
    margin: 5px;
    background-color: inherit;
    width: 60rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: left;
  }

.add-trip form {
    padding: 0px;
}
  
  .add-trip button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid rgb(0, 125, 160);
    background-color: rgb(0, 125, 160);
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
  }
  
  .add-trip button:hover,
  .add-trip button:active {
    background-color: rgb(4, 62, 78);
    border-color: rgb(4, 62, 78);
  }
  
  .add-trip button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
  }
