.home-image {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    background-color: rgb(104, 198, 225);
}

.banner {
    height: 100%;
    width: 60%;
}

.pill_button {
    background-color: rgb(104, 198, 225);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 30px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 17px;
    font-weight: 700;
  }

.prompt {
    text-align: center;
}

h1 {
    display: inline;
    margin: auto;
    text-align: center;
    white-space: pre-wrap;
}
